@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.add-dishes-container {
    background-color: rgb(223, 210, 190);
    margin: 55px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: chewy;
    font-size: 25px;
}

.add-form-container {
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    background-color: #E1D2BB;
}

.create-form input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
}


.input-image-link,
.input-restaurant-link,
.input-keyword {
    width: 100%;
    padding: 12px;
    border-radius: 3px;
}

.submit-button {
    background-color: rgb(63, 143, 126);
    color: black;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-top: 40px;
    margin-bottom: 25px;
    font-family: chewy;
}


@media(max-width:600px) {
    .form-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 15px;
    }

    .input-name {
        width: 50%;
        padding: 12px;
    }

    .input-image-link,
    .input-restaurant-link,
    .input-keyword {
        width: 80%;
        padding: 12px;
    }
}