nav {
  padding: 20px;
  background-color: #00917d;
  margin-bottom: 25px;
  letter-spacing: 2.5px;
}

nav a {
  text-decoration: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
}

nav .logo {
  color: #3b3834;
  font-size: 56px;
  text-shadow: 1px 1px #000000;
  font-family: "Chewy";
}

nav .logo:hover {
  color: #3b3834;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.link {
  margin: 10px 10px;
  color: #f4f0ea;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

.link:hover {
  text-decoration: underline;
  color: #f4f0ea;
  font-weight: bold;
}

.links {
  padding: 20px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.link-welcome {
  color: #f4f0ea;
  font-style: italic;
  text-align: right;
}

.signout-link {
  background-color: #e1d2bb;
  color: #3b3834;
  font-weight: bold;
  border: 1px solid #000000;
}

.signout-link:hover {
  text-decoration: underline;
  color: #3b3834;
}

.signup-link {
  background-color: #3b3834;
  color: #f4f0ea;
  font-weight: bold;
  border: 1px solid #000000;
  vertical-align: text-bottom;
}

.signup-link:hover {
  text-decoration: underline;
  background-color: #e1d2bb;
  color: #3b3834;
}

@media screen and (max-width: 600px) {
  nav {
    padding: 10px 10px 20px 10px;
  }

  .nav-bar {
    flex-direction: column;
  }

  .link-welcome {
    text-align: center;
    padding-top: 5px;
  }

  .links {
    padding: 5px 0px;
  }
}
