@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.signup-container {
  background-color: #f4f0ea;
  padding: 5% 5% 20% 5%;
  display: flex;
  justify-content: center;
}

.signup-form {
  background-color: #e1d2bb;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5% 5% 5%;
  line-height: 2;
}

.create-account {
  font-family: "Chewy";
  letter-spacing: 2px;
  font-size: 36px;
  padding-bottom: 50px;
}

.signup-input-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
  font-family: "Roboto";
  letter-spacing: 0.5px;
}

.signup-label-input-pair {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.signup-input-username {
  border: 0;
  height: 30px;
}

.signup-input-email {
  border: 0;
  height: 30px;
}

.signup-input-password {
  border: 0;
  height: 30px;
}

.signup-input-confirm {
  border: 0;
  height: 30px;
}

.signup-btn {
  margin-top: 40px;
  font-size: 22px;
  text-align: center;
  height: 40px;
  width: auto;
  align-self: center;
  background-color: #00917d;
  color: #3b3834;
  cursor: pointer;
  /* padding-bottom: 4px; */
  letter-spacing: 1px;
  text-decoration: none;
  font-family: "Chewy";
}

.signup-btn:hover {
  color: #3b3834;
}

@media screen and (max-width: 600px) {
  .signup-form {
    width: 75%;
  }

  .create-account {
    font-size: 30px;
  }

  .signup-input-container {
    font-size: 16px;
  }

  .signup-btn {
    font-size: 12px;
    height: 25px;
    width: 22%;
  }
}

@media screen and (max-width: 472px) {
  .signup-btn {
    font-size: 10px;
    width: 60px;
  }
}
