.landing-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  /* background-color: white; */
}

.content-container h1 h6 {
  color: #3b3834;
}

.content-container h1 {
  font-size: 48px;
  letter-spacing: 1.5px;
}

.content-container h6 {
  line-height: 1.5;
  font-size: 16px;
}

.content-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: center;
}

.content-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 300px;
  margin-right: 250px;
}

.btn-explore {
  font-size: 22px;
  text-align: center;
  height: 50px;
  width: 160px;
  align-self: left;
  margin-top: 10px;
  margin-left: 40px;
  background-color: #00917d;
  color: #3b3834;
  border: none;
  cursor: pointer;
  padding: 9px;
  font-family: "Chewy";
  letter-spacing: 0.5px;
  text-decoration: none;
}

.btn-explore:hover {
  color: #3b3834;
}

.content-image img {
  width: 600px;
}

.carousel-container {
  display: flex;
  flex-direction: row;
  width: 355px;
  height: 550px;
  display: flex;
  /* margin-left: ; */
}

.carousel {
  display: flex;
}

.brand {
  /* display: flex;
  flex-direction: column; */
}

.main-brand-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 40px;
}

.brand-statement {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid black;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1px;
}

.icon-container {
  padding-bottom: 30px;
}

.brand-title {
  font-size: 24px;
}

/* .brand-icon-container {
  display: flex;
  width: 200px;
} */

.brand-substatement {
  padding-top: 20px;
  font-size: 16px;
  width: 200px;
}

.brand-container {
  margin-bottom: 20%;
}

/* @media screen and (max-width: 968px) {
  .content-container {
    margin: 150px;
  }
} */

@media screen and (max-width: 600px) {
  .content-container {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .content-text {
    text-align: center;
    align-content: center;
    width: auto;
    margin-right: 0px;
    margin-bottom: 50px;
  }

  .btn-explore {
    font-size: 22px;
    text-align: center;
    height: 50px;
    width: 160px;
    align-self: left;
    margin-top: 10px;
    margin-left: 40px;
    background-color: #00917d;
    color: #3b3834;
    border: none;
    cursor: pointer;
    padding: 9px;
    font-family: "Chewy";
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .main-brand-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 40px;
  }

  .brand-statement {
    padding-top: 25px;
    margin-top: 25px;
    border-top: 1px solid black;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .brand-substatement {
    padding-top: 20px;
    font-size: 16px;
    width: auto;
  }

  .brand-container {
    margin-bottom: 20%;
  }

  .carousel-container {
    width: auto;
    height: 550px;
    display: flex;
    margin-left: 20px;
  }

  .carousel {
    display: flex;
  }
}

@media screen and (max-width: 950px) {
}
