@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.edit-dish-container {
  background-color: rgb(243, 240, 235);
}

.dish-edit {
  background-color: rgb(223, 210, 190);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 55px;
  padding: 15px;
}

.edit-dish-image {
  width: 400px;
  height: auto;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.edit-form-container input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;
  font-family: roboto;
  margin-top: 15px;
  margin-bottom: 35px;
}

.save-button {
  background-color: rgb(63, 143, 126);
  color: black;
  padding: 12px 20px;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-top: 40px;
  margin-bottom: 35px;
  font-family: chewy;
  font-size: 20px;
}

@media (max-width: 770px) {
  .dish-edit {
    display: flex;
    flex-direction: column;
  }
}
